@import url('https://fonts.googleapis.com/css?family=Open Sans:400,500,600,700');
@font-face{
	font-family: appo;
	src: url("../fonts/appopaint-Regular.otf");
}
@font-face{
	font-family: painted;
	src: url("../fonts/painted.ttf");
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
} 
body{
	font-family: 'Open Sans', sans-serif;
	color: #28112b;
	font: 16px/1.5 Helvetica, Arial, sans-serif;
}
.section{
	border-bottom: 5px solid #ccc;
	min-height: 60vh;
	padding: 50px 20px;
}
.section h1{
	font-family: appo;
	margin-bottom: 0px;
	margin-top: 40px;
	font-size: 36px;
}
#section-3 .img-fluid{
	float: left;
	max-width: 100%;
}
.section p:last-child {
	margin-bottom: 0;
}
.section-wrapper {
	margin-top: -50px;
	padding-top: 50px;
}
.section-wrapper:first-child .section {
	padding-top: 100px;
}
.header-area.sticky {
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);*/
	width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99999;
	transition: 0.3s all ease;
}
.header-area.sticky .navbar-light{
	background-color: #eee !important;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	font-size: calc(1em + 1vw);
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
p,
pre,
ul {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 5.9vw;
	line-height: 1;
	margin-bottom: 1em;
}
h2 {
	font-size: 4vw;
	line-height: 1;
	margin-bottom: 1em;
}
h3 {
	font-size: 2.5vh;
	line-height: 1;
	margin-top: 15px;
	margin-bottom: 1em;
	font-family: painted;
}
h4 {
	font-size: 2.5vh;
	line-height: 1;
	margin-top: 15px;
	margin-bottom: 1em;
}
p,
pre,
ul {
	margin-top: 1em;
	font-size: 2vmin;
}
pre {
	background: #fefefe;
	border: 1px solid #dedede;
	overflow-x: auto;
	padding: 2em;
}

ul {
	margin-left: 1em;
}

#nav {
	z-index: 4;
	background: #28112b;
	left: 0;
	list-style: none;
	overflow: hidden;
	padding-top: 9px;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	margin: auto;
}

#nav li {
	display: inline-block;
	margin-bottom: 0;
}

#nav a {
	background: #28112b;
	color: #8daa91;
	display: block;
	padding: 10px;
}

#nav a:hover {
	background: none;
	color: #8daa91;
}

#nav .current a {
	background: #8daa91;
	color: #28112b;
}

#container {
	margin: 0 auto;
	width: 100%;
}
.pull-left{
	margin: auto;
	width: 100%;
}
.categories_area {
    padding: 80px 0 50px 0;
}

.single_catagory {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.single_catagory img {
    border-radius: 20px;
	max-height: 240px;
	max-width: 100%;
}

.catagory-title {
    width: 250px;
    height: 50px;
    background-color: rgba(141,170,145,0.70);
    position: absolute;
    top: 50%;
    text-align: center;
    border-radius: 30px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_catagory:hover .catagory-title {
    background-color: rgba(40,17,43,1);
}

.catagory-title a > h5 {
    margin-bottom: 0;
    line-height: 50px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
	color: rgba(40,17,43,1);
}

.single_catagory:hover .catagory-title a > h5 {
    color: #fff;
}
img {
    max-width: 100%;
	max-height: 400px;
	border-radius: 5%;
}
.box {
	border-bottom: 5px solid #ccc;
	min-height: 60vh;
	padding: 50px 20px;
	width: 100%;
}
.box h1{
	font-family: appo;
	margin-bottom: 0px;
	margin-top: 40px;
	font-size: 36px;
}
.box img{
	padding: 40px;
	max-width: 100%;
	border-radius: 10%;
}
.redes i{
	margin: auto;
	font-size: 30px;
	background-color: rgba(40,17,43,1);
	color: rgba(141,170,145,1);
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 100%;
}
.redes i:hover{
	background-color: #fff;
	color: rgba(255,0,4,0.65);
	transition: all 0.3s ease-in-out;
}
#footer{
	padding: 50px 0 65px 0;
    border-bottom: 1px solid #eeeeee;
}